@model MyAwesomeBlog.Web.Site.Models.Posts.DetailViewModel
@{
    ViewData["Title"] = "Detail";
}

<div class="row">
    @if (Model is null)
    {
        <div class="col-md-12">
            <h1>Ops! The post you searched for does not exist</h1>
            <h2>Please, go back to the post list</h2>
        </div>
    }
    else
    {
        <div class="col-md-7">
            <h1>@Model.Title</h1>
            <p>
                <small>published on @Model.PublishDate.ToShortDateString()</small>
            </p>
            <hr />
            @if (!string.IsNullOrWhiteSpace(Model.Content))
            {
                <div>
                    @(new Microsoft.AspNetCore.Html.HtmlString(Markdown.ToHtml(Model.Content)))
                </div>
            }
        </div>
        <div class="col-md-5">
            <post-comments post-id="@Model.Id"></post-comments>
        </div>
    }
</div>

<p>
    <a asp-action="Archive" asp-controller="Posts">View all posts</a>
</p>

@section Scripts { 
    <script src="_framework/blazor.webassembly.js"></script>
    <script src="/_content/Microsoft.AspNetCore.Components.CustomElements/Microsoft.AspNetCore.Components.CustomElements.lib.module.js"></script>
}
